body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.status {
  margin-bottom: 10px;
}

.game-board {
  max-width: 60vw;
  max-height: 60vh;
  overflow: auto;
  padding: 1px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.select {
  color: #fff;
}

.select:hover {
  color: rgba(128, 128, 128, 0.541);
}

/* .hover-square:hover .square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
} */

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-config {
  display: block;
  margin-bottom: 20px;
}
.fixed-size {
  width: 100px;
  display: inline-block;
}
/* .btn-bold {
  font-weight: bold;
} */
.square-highlight {
  color: red;
  background-color: yellow;
  font-weight: bold;
}
